body {
	background-color: #efefef;
}
#header, #section, #footer{
	position: relative;
	margin-bottom:20px;
}

.header1 {
	color: black;
	font-size: 45px;
}

#imgHeader{
	width: 50px;
	height: 50px;
}

.header2{
	background-color: #4b4b4b;
    color: white;
    font-size: 20px;
    font-weight: bold;
	padding: 10px 10px;
}

article {
	position: absolute;
	width: 50%;
	height: 60%;
}

article h2{
	color: #4f4f4f; font: Arial;text-align: center;
}

a button{
	text-align: center;padding: 15px 15px;border-radius: 5px;background-color: #398adc;color: white;font-weight: bold;font-size: 15px
}

aside{
	position: relative;
	left: 50%;
	height: 60%;
}

section div {
	margin-left: 100px;
}

section div div{
	margin-left: 50px;
	text-align: center;
	background-color: #f9f9f9;
	width: 300px;
	height: 150px;
	display: inline-block;
}

footer img{
	width: 30px;
	height: 30px;
	float: right;
}