<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="../css/testCss.css">
</head>
<body>
	<header id="header">
		<div class="header1"><img src="../img/logo.png" alt="Mountain View" id="imgHeader">RESPONSIVE</div>
		<div class="header2">
			<span>Home Blog  Sample page Content  About   Contact</span>
		</div>
	</header>
	<section id="section">
		<article>
			<p style="font-size: 35px;font-weight: bold;color: #4f4f4f;text-align: center;">Hello ,world</p>
			<h2>Your H2 subheadline here</h2>
			<p style="font: Arial; font-size: 20px;text-align: center;">Your title, subheadline and content are editable. Call to action<br>button and its destination link are editable too. Image on your<br>right can be replaced be a video</p>
			<center><a href="https://www.quackit.com/css/css_color_codes.cfm">
				<button type="button">Call to action</button>
			</a></center>
		</article>
		<aside>
			<img src="../img/rwd.png" alt="Can't display" align="center">
		</aside>
		<div>
			<div>
				<h2>Home widget 1</h2>
				<p>This is a home widget. You can edit its<br>content is the setting page. The title is<br>editable as well.</p>
			</div>
			<div>
				<h2>Home widget 2</h2>
				<p>This is a home widget. You can edit its<br>content is the setting page. The title is<br>editable as well.</p>
			</div>
			<div>
				<h2>Home widget 3</h2>
				<p>This is a home widget. You can edit its<br>content is the setting page. The title is<br>editable as well.</p>
			</div>
		</div>
	</section>
	<footer id="footer">
		<span>@2017 Responsive Theme Pro Demo</span>
		<img src="../img/facebook.png">
		<img src="../img/twitter.png">
		<img src="../img/linkedin.png">
		<img src="../img/youtube.png">
	</footer>

</body>
</html>